.containerTable {
  .contTable {
    .ant-table-expanded-row-fixed {
      background-color: var(--bg-nav);
      .ant-empty-description {
        color: white;
      }
    }
    .ant-table-container {
      padding: 1px;
      border: 0 !important;
    }
    .ant-table {
      border-radius: 0 !important;
    }
    .ant-table-thead {
      .ant-table-cell {
        background: white;
        border-radius: 0 !important;
      }
    }

    .ant-table-tbody {
      .ant-table-row {
        background-color: var(--bg-nav);
        color: white;
      }
    }
  }
}
