.contHeader {
  background: linear-gradient(
    180deg,
    #0f0f0f 74.76%,
    #0f0f0fd6 75.18%,
    #0f0f0f99 80.11%,
    #0f0f0f24 90.3%,
    #0f0f0f00
  );

  .hoverLink{
    border-bottom: 1px solid transparent;
    &:hover{
        border-bottom: 1px solid;
    }
  }
}
