.optInpust .ant-otp {
  width: 100%;
}
.optInpust .ant-input {
  background: transparent !important;
  color: white !important;
  height: 45px !important;
  font-size: 20px !important;
}

.optInpust .ant-input:hover,
.optInpust .ant-input:focus {
  border-color: #fff !important;
}
