.eventDetailPage .bgIntagram {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}

.eventDetailPage .bgWhatsapp {
  background: linear-gradient(
    45deg,
    #25d366,
    #128c7e,
    #075e54,
    #128c7e,
    #25d366
  );
}

.eventDetailPage .bgSms {
  background: #3498db;
}

.eventDetailPage .bgCopy {
  background: #95a5a6;
}
