.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.contEventCardEffect:hover {
  .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-back{
    backface-visibility: visible;
  }

  .flip-card-front{
    backface-visibility: hidden;
  }
}

.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
