.selectCountry {
  height: 36px !important;
}
.selectCountry:hover .ant-select-selector {
  border-color: #fff !important;
}
.selectCountry .ant-select-selector {
  background: transparent !important;
  border-radius: 30px;
}
.selectCountry .ant-select-selection-placeholder {
  color: rgb(255 255 255 / 20%);
}

.selectCountry.ant-select-single.ant-select-open .ant-select-selection-item,
.selectCountry .ant-select-selection-item {
  color: #fff;
}
