.InputIconCont {
  .p-password,
  input,
  .p-icon-field,
  textarea {
    background: transparent;
    width: 100%;
    border: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
  }
}
