// Variables de colores para cada tema
$light-bg: #ffffff;
$dark-bg: #141414;

$text: #ffffff;
$primary: #EE8823;


// Definir variables en root para cada tema
:root {
  --bg-color: #{$dark-bg};
  --text-color: #{$text};
  --primary-color: #{$primary};
}

[data-theme="dark"] {
  --bg-color: #{$light-bg};
  --text-color: #{$text};
  --primary-color: #{$primary};
}
