@import "tailwindcss";
@import "primeicons/primeicons.css";

* {
  font-family: Lato, sans-serif;
}

:root {
  --colorBody: #0e0e0e;
  --colorPrimary: #cf0032;
  --effectPrimary: linear-gradient(
    267.23deg,
    #fb776f 24.27%,
    #ffb4c6 59.74%,
    #ffa16c 93.15%
  );
  --effectBorder: linear-gradient(
      360deg,
      #615e9b 7.95%,
      rgba(36, 35, 51, 0.4) 100%
    )
    border-box;
}

body {
  background: var(--colorBody);
}

.effectPrimary {
  background: var(--effectPrimary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.htmlStyle {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* bgs */
.bgBorder {
  background: var(--effectBorder);
}

.bgBody {
  background: var(--colorBody);
}

.bgGradient {
  border-image: fill 0
    linear-gradient(rgba(0, 0, 0, 0.0666666667), var(--colorBody));
  background-color: linear-gradient(
    rgba(0, 0, 0, 0.0666666667),
    var(--colorBody)
  );
}

/* txts */
.textPrimary {
  color: var(--colorPrimary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}

/* drawer */
.drawer .ant-drawer-body {
  padding-top: 0px;
}

.ant-drawer-body,
.ant-drawer-header,
.ant-drawer-footer,
.ant-modal-content {
  background: var(--colorBody) !important;
}

.ant-drawer-header .ant-drawer-header-title {
  justify-content: flex-end;
}
.ant-drawer-close,
.ant-modal-close {
  color: white !important;
  margin: 0;
}
.ant-drawer-close:hover,
.ant-modal-close:hover {
  color: var(--colorPrimary) !important;
}

/* paginationClass */
.paginationClass .ant-pagination-item {
  background: transparent;
  border: 1px solid white;
  min-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationClass .ant-pagination-item:hover,
.paginationClass .ant-pagination-item a:hover {
  border-color: transparent;
  color: white;
}
.paginationClass .ant-pagination-item-active {
  background: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
}
.paginationClass .ant-pagination-item a {
  color: white;
}
.paginationClass .ant-pagination-item-link {
  border: 1px solid white !important;
  color: white !important;
}

/* select */
.selectStyle:hover .ant-select-selector {
  border-color: #fff !important;
}
.selectStyle .ant-select-selector {
  background: transparent !important;
  border-color: #fff !important;
}
.selectStyle .ant-select-selection-placeholder {
  color: rgb(255 255 255 / 20%);
}

.selectStyle.ant-select-single.ant-select-open .ant-select-selection-item,
.selectStyle .ant-select-selection-item,
.selectStyle .ant-select-arrow {
  color: #fff;
}

/* checkbox */
.checkboxStyle .ant-checkbox-inner {
  background: transparent;
  width: 20px;
  height: 20px;
}
