@import "./colors.css";
@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "swiper/css";
@import "swiper/css/effect-cards";

* {
  font-family: "Source Sans 3", sans-serif;
}

body {
  background-color: #121212;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bebasNeue {
  font-family: "Bebas Neue", sans-serif !important;
}

.sourceSans {
  font-family: "Source Sans 3", sans-serif !important;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.bgGradient {
  background: linear-gradient(
    0deg,
    rgba(34, 2, 0, 0) 0%,
    #220200 50%,
    rgba(34, 2, 0, 0) 100%
  );
}

.textGradientPrimary {
  background: linear-gradient(90deg, #e6af86 0%, #d55e78 44.5%, #c8ac3b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.customSelect .ant-select-selector {
  @apply rounded-full bg-transparent! border-white! text-white;
}

.customSelect .ant-select-selection-placeholder {
  @apply text-white/20; /* Cambia el color del placeholder */
}

.customSelect .ant-select-arrow {
  color: white !important; /* Cambia el color del icono */
}

.customSelect .ant-select-selection-item{
  color: white !important;
}

.customSelect:hover .ant-select-selector,
.customSelect:focus-within .ant-select-selector,
.customSelect .ant-select-selector:focus {
  @apply border-white! shadow-md;
}
