.btnStyle {
  &:hover {
    color: black !important;
    border: 1px solid var(--text-white) !important;
  }
}

.btnbgPrimary {
  background: var(--ant-color-primary);
  color: var(--text-white);
  border: 3px solid var(--ant-color-secondary);
  &:hover {
    background: var(--ant-color-secondary) !important;
    color: var(--text-white) !important;
    border: 3px solid var(--ant-color-primary) !important;
  }
}

.btnbordPrimary {
  border: 2px solid var(--ant-color-primary);
  color: var(--ant-color-primary);
  background: transparent;
  &:hover {
    background: var(--ant-color-primary) !important;
    color: var(--text-white) !important;
    border: 3px solid var(--ant-color-secondary) !important;
  }
}

.btnbord{
  border: 2px solid white;
  color: var(--text-white);
  background: transparent;
}