.btnStyle {
  // height: 40px;

  &:hover {
    // color: var(--text-black) !important;
    color: black !important;
    border: 1px solid var(--text-white) !important;
  }
}

.btnbgPrimary {
  background: var(--primary-color);
  color: var(--text-white);
  border: 3px solid var(--secondary-color);
  &:hover {
    background: var(--secondary-color) !important;
    color: var(--text-white) !important;
    border: 3px solid var(--primary-color) !important;
  }
}

.btnbordPrimary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
  &:hover {
    background: var(--primary-color) !important;
    color: var(--text-white) !important;
    border: 3px solid var(--secondary-color) !important;
  }
}

.btnbord{
  border: 2px solid white;
  color: var(--text-white);
  background: transparent;
}