@use "./buttons.scss";

.bgPrimary {
  background-color: var(--ant-color-primary);
}

.bg-nav {
  background-color: var(--bg-nav);
}

.borderPrimary {
  border-color: var(--ant-color-primary);
}

.h-screen-m {
  height: 100dvh;
}

.ant-picker-input {
  input {
    color: var(--text-color) !important;
    &::placeholder {
      color: #ffffff33 !important;
    }
  }
  .ant-picker-suffix {
    svg {
      fill: var(--text-color) !important;
    }
  }
  &:hover svg {
    fill: var(--text-color) !important;
  }
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: #ffffff !important;
}

.swiper-slide-active {
  filter: none !important;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.bgModal {
  background-image: url("../assets/bookTicket/modalCheck.jpeg");
}

.ant-picker-suffix,
.ant-picker-clear {
  svg {
    fill: white !important;
  }
}

.ant-select-multiple {
  .ant-select-selection-item {
    background: #ffffff38 !important;
    border-radius: 10px !important;
    svg {
      fill: white !important;
    }
  }
}

.styleNumberInput {
  .ant-input-number-input {
    color: white !important;
    &::placeholder {
      color: #ffffff33 !important;
    }
  }
  .ant-input-number-handler-wrap {
    display: none !important;
  }
}

.ant-pagination-item-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-pagination-item {
  a {
    color: #595959;
  }
}

.ant-pagination-item:hover {
  background-color: transparent !important;
  border-color: white !important;
  a {
    color: white !important;
  }
}
.ant-pagination-item-active {
  background-color: var(--ant-color-primary) !important;
  border-color: var(--ant-color-primary) !important;
  a {
    color: white !important;
  }
}

.ant-pagination {
  gap: calc(var(--spacing) * 3);
  .ant-pagination-prev {
    border: 1px solid white;
    svg {
      fill: #595959;
      height: 20px;
    }
  }

  .ant-pagination-next {
    border: 1px solid white;
    svg {
      fill: white;
      height: 20px;
    }
  }
}

.ant-pagination-options {
  display: none !important;
}
.ant-pagination-item-ellipsis {
  color: white !important;
}

.ant-table-column-sort {
  background: transparent !important;
}

.ant-otp-input-wrapper{
  width: 100% !important;
}