@use "./buttons.scss";

.text-primary {
  color: var(--primary-color);
  &:hover {
    color: var(--secondary-color);
  }
}

.bgPrimary {
  background-color: var(--primary-color);
}

.bg-nav{
  background-color: var(--bg-nav);
}

.borderPrimary {
  border-color: var(--primary-color);
}

.h-screen-m{
  height: 100dvh;
}

.ant-picker-input {
  input {
    color: var(--text-color) !important;
    &::placeholder {
      color: #ffffff33 !important;
    }
  }
  .ant-picker-suffix {
    svg {
      fill: var(--text-color) !important;
    }
  }
  &:hover svg {
    fill: var(--text-color) !important;
  }
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero .ant-rate-star-second {
  color: #ffffff !important; 
}

.swiper-slide-active {
  filter: none !important;
}